
body {
    font-family: serif;
}
.header {
    text-align: center;
    background-color: coral;
    border-radius: 10px;
    border: solid 2px black;
}

.menu {
    text-align: right;
}

table, td, th {
    width: 100%;
    border:solid black 2px;
    border-collapse: collapse;
}

form {
    text-align: center;
}